body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

h1,
p {
  margin: 2px;
}

.title {
  font-weight: 1000;
  font-size: 32px;
}

#main-container {
  width: 800px;
  background-color: antiquewhite;
  padding: 10px;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 245, 227);
  padding: 10px;
  align-items: flex-start;
}

.todo-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-container {
  background-color: rgb(255, 188, 64);
  margin: 5px;
  padding: 5px;
}

.todo-list-done div {
  background-color: rgb(201, 201, 201);
  opacity: 20%;
}

.delete-button {
  background-color: rgb(255, 188, 64);
  padding: 5px;
}

.add-todolist-button {
  background-color: aquamarine;
  margin-top: 10px;
  width: max-content;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}
